{
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"]
}
